*{
	box-sizing: border-box;
}

body {
	font-family: Oswald;
	margin: 0;
}

p {
	width:100%;
	font-size: 12px;
	font-family: "Open Sans";
	font-weight: 300;
	line-height: 165%;
	
}

h2 {
	font-family: Oswald-ExtraLight;
	font-size: 23px;
	font-weight: 100;
}

h3 {
	font-family: "Open Sans";
	font-weight: 600;
	font-size: 27px;
	line-height: 160%;
}

.header h2 {
	margin: 0;
	padding: 10px 0;
	
}

.header{
	
	width: 855px;
	height: 55px;
	font-family: "Oswald-ExtraLight";
	margin: auto;
	
}

.first-wrapper {
	background-color: rgb(208, 230, 223);
	padding: 52px 0;
	height: 552px;
}

.first {
	width: 855px;
	margin: auto;
	height: 552px;
}

.title {
	margin: 0 0 20px 0;
	line-height: 78px; 
	font-size: 72px;
	font-weight: bold;
	letter-spacing: 4px;
	text-align: left;
	width: 70%;
}

.leftside {
	padding: 90px 45px;
	float: left;
	width: 50%;
	height: 450px;
	overflow: scroll;
	background-color: #FFF;
	
}

.rightside {
	float: right;
	width: 50%;
	height: 450px;
	object-fit: cover;
	overflow:hidden;
}
	
.rightside img {
	object-position: 0 -154px;
	width: 428px;
}

.second-wrapper {
	background-color: rgb(40, 53, 117);
	padding: 52px 0;
	height: 578px;
	width: 100%;
}

.second {
	width: 855px;
	margin: auto;
	height: 552px;
	
}
	
.left {
	float: left;
	width: 285px;
	height: 475px;
	object-fit: cover;
	overflow: hidden;
}	

.left img {
	object-position: -28px 0px;
}


.top{
	height: 50%;
	object-fit: cover;
}

.top img{
	object-position: 0px -96px;	
}

.bottom{
	height:50%;
	object-fit: cover;	
}	

.bottom img {
	object-position: -2px -23px;
}
	
.right{
	float: right;
	width: 285px;
	height: 475px;
	padding: 70px 24px;
	overflow: scroll;
	background-color: rgb(233, 174, 172);
	font-size: smaller;
	
}	

.right h2 {
	color: rgb(40, 53, 117);
	margin: 22px 70px 26px 0;
}

.right p {
	margin-bottom: 50px;
}

.right a {
	box-sizing: border-box;
	color: #FFF;
	background-color: rgb(40, 53, 117);
	width: 126px;
	height: 32px;
	text-decoration: none;
	margin-top: 60px;
	padding: 8px 23px;
	letter-spacing: 1px;
	font-size: 11px;
	font-family: "Open Sans";
	font-weight: 400;
}
	
.description {
	height: 284px;
	padding: 50px 430px;
	background-color: rgb(233, 174, 172);
	line-height: 30px;	
	text-align: justify;

}	
	
	
	
	
@font-face {
	font-family: Oswald; /* Имя шрифта */
	src: url(Oswald-VariableFont_wght.ttf); /* Путь к файлу со шрифтом */
	}
	
	
@font-face {
	font-family: "Open Sans";
	font-weight: 700;
	font-style: normal;
	src: url(./Open_Sans/OpenSans-Bold.ttf);
}	
@font-face {
	font-family: "Open Sans";
	font-weight: 700;
	font-style: italic;
	src: url(./Open_Sans/OpenSans-BoldItalic.ttf);
}
@font-face {
	font-family: "Open Sans";
	font-weight: 400;
	font-style: italic; 
	src: url(./Open_Sans/OpenSans-Italic.ttf);
}
@font-face {
	font-family: "Open Sans";
	font-weight: 300;
	font-style: normal; 
	src: url(./Open_Sans/OpenSans-Light.ttf);
}
@font-face {
	font-family: "Open Sans";
	font-weight: 300;
	font-style: italic; 
	src: url(./Open_Sans/OpenSans-LightItalic.ttf);
}
@font-face {
	font-family: "Open Sans";
	font-weight: 400;
	font-style: normal; 
	src: url(./Open_Sans/OpenSans-Regular.ttf);
}
@font-face {
	font-family: "Open Sans";
	font-weight: 800;
	font-style: normal;
	src: url(./Open_Sans/OpenSans-ExtraBold.ttf);
}	
@font-face {
	font-family: "Open Sans";
	font-weight: 800;
	font-style: italic;
	src: url(./Open_Sans/OpenSans-ExtraBoldItalic.ttf);
}	
@font-face {
	font-family: "Open Sans";
	font-weight: 600;
	font-style: normal;
	src: url(./Open_Sans/OpenSans-SemiBold.ttf);
}	
@font-face {
	font-family: "Open Sans";
	font-weight: 600;
	font-style: italic;
	src: url(./Open_Sans/OpenSans-SemiBoldItalic.ttf);
}	
