@import './normalizer.css';
@import './fonts.css';



* {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans";
	margin: 0;
}

h1,
h3,
h4,
h5,
h6 {
	font-family: Oswald;
}

h2 {
	font-family: Oswald-ExtraLight;
	font-size: 23px;
	font-weight: 100;
	margin: 15px 0;
}

p {
	width:100%;
	font-size: 12px;
	font-weight: 300;
	line-height: 165%;
}
