section.agency-wrapper {
	background-color: rgb(208, 230, 223);
	padding: 52px 0 54px;
	height: 552px;
}

.agency {
	display: flex;
	width: 855px;
	margin: auto;
	height: 552px;
}

.agency-title {
	margin: 0 0 20px 0;
	line-height: 78px; 
	font-size: 72px;
	font-weight: bold;
	letter-spacing: 4px;
	text-align: left;
	width: 70%;
}

.agency-left {
	padding: 90px 45px;
	flex-basis: 427.5px;
	height: 448px;
	background-color: #FFF;
	
}

.agency-right {
	flex: 1;
	height: 448px;
	flex-basis: 427.5px;
	object-fit: cover;
	overflow:hidden;
}
	
.agency-right img {
	object-position: 0 -154px;
	width: 427.5px;
}
